<div class="title-left"> Rooms</div>
<div class="btn-right">
  <i class="fa fa-plus"> <%= link_to "Add room", new_admin_room_path %></i>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th> ID </th>
    <th> Price (VND) </th>
    <th> Occupants </th>
    <th> Total bill (VND) </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @rooms.each do |room| %>
    <%= render "rooms/room", room: room %>
  <% end %>
  </tbody>
</table>
