<h2> Rooms</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th> ID </th>
    <th> Price (VND) </th>
    <th> Occupants </th>
    <th> Total bill (VND) </th>
  </tr>
  </thead>
  <tbody>
    <%= render rooms %>
  </tbody>
</table>
